img{
  width: 500px;
  margin: auto;
}
body{
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
  background-color: bisque;
}
td{
  padding: 40px;
  color: rgb(14, 13, 13);
  margin: auto;


}

#ételek{
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
  margin: auto;
}
table{
margin: auto;
text-align: center;
}
h2{
  text-align: center;
  margin: auto;
  font-weight: bold;

}
